@model IEnumerable<casaDeShows.Models.Evento>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.NomeDoEvento)
                </th>
                <th>
                    Preço do Ingresso
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Capacidade)
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Deletar
                </th>
            </tr>
        </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.NomeDoEvento)
                        </td>
                        <td>
                            R$ @Html.DisplayFor(modelItem=>item.PrecoIngresso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.Capacidade)
                        </td>
                        <td>
                            <a asp-action="EditarEvento" asp-controller="Evento" asp-route-id="@item.Id">Editar</a>
                        </td>
                        <td>
                            <a asp-action="DeletarEvento" asp-controller="Evento" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>

